
@{
	ViewBag.Title = "Promotion";
}

<div class="col-sm-12" style="height:30px;"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="col-sm-12">@Html.Label("KHUYẾN MẠI HOT ĐANG DIỄN RA TẠI THẾ  GIỚI ĐIỆN THOẠI", new { @class = "text-success " })</div>
			<div class="col-sm-12" style="height:30px;"></div>
			<div class="col-sm-12">

				<div class="col-sm-3">
					<div class="col-sm-12">
						<img src="~/Content/images/Mi8Lite_3.jpg" />
					</div>
					<div class="col-sm-12">@Html.ActionLink("Xiaomi Mi 8 Lite chính hãng, giá sốc chỉ 5.79 triệu", "NewsMi1", "News")</div>
				</div>
				<div class="col-sm-1" style="height:100px;"></div>
				<div class="col-sm-3">
					<div class="col-sm-12">
						<img src="~/Content/images/blackberry.jpg" />
					</div>
					<div class="col-sm-12">@Html.ActionLink("Blackberry KeyOne giảm sốc 6.9 triệu: Khi siêu phẩm về giá trị thực?", "NewsBB1", "News")</div>
				</div>
				<div class="col-sm-1" style="height:100px;"></div>
				<div class="col-sm-3">
					<div class="col-sm-12">
						<img src="~/Content/images/XS.jpg" />
					</div>
					<div class="col-sm-12">@Html.ActionLink("Thu cũ đổi mới – Lên đời iPhone XS Max chính hãng tiết kiệm hơn 15 triệu tại Thế Giới Điện Thoại", "NewsIP1", "News")</div>
				</div>
			</div>
		</div>




		<div class="col-sm-12" style="height:30px;"></div>
		<div class="col-sm-12">

			<div class="col-sm-3">
				<div class="col-sm-12">
					<img src="~/Content/images/A7image.jpg" />
				</div>
				<div class="col-sm-12">@Html.ActionLink("Đừng bỏ qua cơ hội mua Galaxy A7 (2018) bản 128GB tiết kiệm đến 2 triệu!, giá sốc chỉ 5.79 triệu", "A7", "News")</div>
			</div>
			<div class="col-sm-1" style="height:100px;"></div>
			<div class="col-sm-3">
				<div class="col-sm-12">
					<img src="~/Content/images/Spen.jpg" />
				</div>
				<div class="col-sm-12">@Html.ActionLink("Mua bút S-pen, nhận ngay Galaxy Note 9 và smartTV Samsung hơn 7 triệu", "Spen", "News")</div>
			</div>
			<div class="col-sm-1" style="height:100px;"></div>
			<div class="col-sm-3">
				<div class="col-sm-12">
					<img src="~/Content/images/Honor8X.jpg" />
				</div>
				<div class="col-sm-12">@Html.ActionLink("Đặt trước Honor 8X tại CellphoneS, nhận ngay Honor Band 4 và nhiều ưu đãi khác", "NewsIP1", "News")</div>
			</div>
		</div>




	</div>
</div>
